{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h4 class="mb-3"><em>Este gráfico muestra el control de parámetros de la barbotina</em></h4>
    <h5 class="mb-3"><em>Seleccione el rango de fecha y el número de planta</em></h5>
    <form method="get" action="{% url 'grafico2' %}" class="form-inline">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="{{ form.start_date.id_for_label }}" class="form-label">Fecha de inicio:</label>
                {{ form.start_date }}
            </div>
            <div class="col-md-3">
                <label for="{{ form.end_date.id_for_label }}" class="mr-2">Fecha de fin:</label>
                {{ form.end_date }}
            </div>
            <div class="col-md-3">
                <label for="{{ form.planta.id_for_label }}" class="mr-2">Planta:</label>
                {{ form.planta }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
    </form>

    {% if no_data_message %}
    <p>{{ no_data_message }}</p>
    {% else %}
    <div id="chart"></div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var options = {
        chart: {
            height: 350,
            type: "bar",
            stacked: false
        },
        dataLabels: {
            enabled: false
        },
        colors: ["#FF1654", "#247BA0"],
        series: [
            {
                name: "Viscosidad",
                data: {{ datos_grafico.viscosidades|safe }}
            },
            {
                name: "Residuo",
                data: {{ datos_grafico.residuos|safe }}
            }
        ],
        stroke: {
            width: [1, 1]
        },
        plotOptions: {
            bar: {
                columnWidth: "40%"
            }
        },
        xaxis: {
            categories: {{ datos_grafico.labels|safe }}
        },
        yaxis: [
            {
                axisTicks: {
                    show: true
                },
                axisBorder: {
                    show: true,
                    color: "#FF1654"
                },
                labels: {
                    style: {
                        colors: "#FF1654"
                    }
                },
                title: {
                    text: "Viscosidad",
                    style: {
                        color: "#FF1654"
                    }
                }
            },
            {
                opposite: true,
                axisTicks: {
                    show: true
                },
                axisBorder: {
                    show: true,
                    color: "#247BA0"
                },
                labels: {
                    style: {
                        colors: "#247BA0"
                    }
                },
                title: {
                    text: "Residuo",
                    style: {
                        color: "#247BA0"
                    }
                }
            }
        ],
        tooltip: {
            shared: false,
            intersect: true,
            x: {
                show: false
            }
        },
        legend: {
            horizontalAlign: "left",
            offsetX: 40
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>
{% endblock %}
