{% extends 'base.html' %}
{% block content %}
     <h1>CONTROL POLVO ATOMIZADO</h1>
<div>
    <a class="btn btn-secondary btn-sm" style="width: 70px;" href="nuevo_registro" role="button">
      <em class="fa fa-plus" aria-hidden="true" alt="Icono de Agregar"></em>
        Nuevo
    </a>
</div>
<br>
<div>
    <table id="tabla_atomizado" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th style="width: 5%;" scope="col">ID</th>
            <th style="width: 25%;" scope="col">Fecha</th>
            <th style="width: 5%;" scope="col">Hora</th>
            <th style="width: 10%;" scope="col">Código</th>
            <th style="width: 5%;" scope="col">Planta</th>
            <th style="width: 5%;" scope="col">Silo</th>
            <th style="width: 5%;" scope="col">Humedad</th>
            <th style="width: 20%;" scope="col">Responsable</th>
            <th style="width: 25%;" scope="col">Observaciones</th>
            <th scope="col">OPT</th>
            <th scope="col">OPT</th>
            <th scope="col">OPT</th>
        </tr>
        </thead>
        <tbody>
        {% for silos in Silos %}
        <tr>
            <td style="width: 5%;">{{silos.id}}</td>
            <td style="width: 25%;">{{silos.fecha}}</td>
            <td style="width: 5%;">{{silos.hora}}</td>
            <td style="width: 8%;">{{silos.codigo}}</td>
            <td style="width: 7%;">{{silos.planta}}</td>
            <td style="width: 5%;"> {{silos.nroSilo}}</td>
            <td style="width: 5%;"> {{silos.humedad}}</td>
            <td style="width: 10%;"> {{silos.usuario}}</td>
            <td style="width: 25%;">{{silos.observaciones}}</td>
            <td>
                <a href="detalle_registro/{{silos.id}}" aria-label="Ver Detalles del Registro">
                    <em class="fa fa-eye" aria-hidden="true"></em>
                </a>
            </td>
            <td>
                <a href="editar_registro/{{silos.id}}" aria-label="Editar Registro">
                    <em class="fa fa-pencil" aria-hidden="true"></em>
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-danger" href="eliminar_registro/{{silos.id}}" aria-label="Eliminar Registro">
                    <em class="fa fa-trash" aria-hidden="true"></em>
                </a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
   $("#tabla_atomizado").DataTable({
      pagin: true,
      pageLength:10,
      lengthChange: true,
      autoWidth: true,
      searching: true,
      bInfo: true,
      bSort: true,
      scrollX: true,
      fixedHeader: true,
       dom: 'Bfrtilp',
       buttons: [
          {
            extend: 'excelHtml5',
            text: '<em class="fas fa-file-excel"></em>',
            titleAttr: 'Exportar a Excel',
            className: 'btn btn-success',
          },
          {
            extend: 'pdfHtml5',
            text: '<em class="fas fa-file-pdf"></em> ',
            titleAttr: 'Exportar a PDF',
            className: 'btn btn-danger',
          },
          {
            extend: 'print',
            text: '<em class="fa fa-print"></em> ',
            titleAttr: 'Imprimir',
            className: 'btn btn-info',
          },
        ],
       columDefs:[
       { className: "centered", targets: [0, 1, 2, 3, 4, 5, 6, 7] },
       { orderable: false, targets: [7, 8] },
       {searchable: false, targets: [0, 2, 3, 4] }
       ],
           language: {
           lengthMenu: "Mostrar _MENU_ registros por página",
           zeroRecords: "Ningún usuario encontrado",
           info: "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
           infoEmpty: "Ningún usuario encontrado",
           infoFiltered: "(filtrados desde _MAX_ registros totales)",
           search: "Buscar",
           loadingRecords: "Cargando ..",
           paginate: {
               firts: "Primero",
               last: "último",
               next: "Siguiente",
               previous: "Anterior"
           }
       }
   });
</script>
{% endblock %}