{% extends 'base.html' %}
{% block content %}
<h5>CONTROL GRANULOMETRÍA</h5>
<div>
     <a class="btn btn-secondary btn-sm" style="width: 60px;" href="new_registro"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div>
<br>
    <table id="tabla_granulometria" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th style="width: 5%;">id</th>
            <th style="width: 12%;">Fecha</th>
            <th style="width: 8%;">Hora</th>
            <th style="width: 10%;">Malla500</th>
            <th style="width: 10%;">Malla425</th>
            <th style="width: 10%;">Malla300</th>
            <th style="width: 10%;">Malla180</th>
            <th style="width: 5%;">Fondo</th>
            <th style="width: 10%;">Planta</th>
            <th style="width: 25%;">Responsable</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for granu in Granu %}
        <tr>
            <td style="width: 5%;">{{granu.id}}</td>
            <td style="width: 15%;">{{granu.fecha}}</td>
            <td style="width: 7%;">{{granu.hora}}</td>
            <td style="width: 5%;">{{granu.malla500}}</td>
            <td style="width: 5%;">{{granu.malla425}}</td>
            <td style="width: 5%;">{{granu.malla300}}</td>
            <td style="width: 5%;">{{granu.malla180}}</td>
            <td style="width: 5%;">{{granu.fondo}}</td>
            <td style="width: 10%;">{{granu.planta}}</td>
            <td style="width: 25%;">{{granu.usuario}}</td>
            <td style="width: 3%;"><a href="ver_registro/{{granu.id}}"> <i class='fa-solid fa-eye'></i> </a></td>
            <td style="width: 5%;"><a href="modificar_registro/{{granu.id}}"><i class='fa-solid fa-pen' ></i></a></td>
            <td style="width: 5%;"><a  class='btn btn-sm btn-danger'  href="borrar_registro/{{granu.id}}"><i class='fa-solid fa-trash-can'></i></a></a></td>
        </tr>
        {% endfor %}
        </tbody>
        <script>
          $("#tabla_granulometria").DataTable({
          pagin: true,
          pageLength:10,
          lengthChange: true,
          autoWidth: true,
          searching: true,
          bInfo: true,
          bSort: true,
          scrollX: true,
          fixedHeader: true,
           dom: 'Bfrtilp',
           buttons: [
              {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i> ',
                titleAttr: 'Exportar a Excel',
                className: 'btn btn-success',
              },
              {
                extend: 'pdfHtml5',
                text: '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger',
              },
              {
                extend: 'print',
                text: '<i class="fa fa-print"></i> ',
                titleAttr: 'Imprimir',
                className: 'btn btn-info',
              },
            ],
           columDefs:[
           { className: "centered", targets: [0, 1, 2, 3, 4, 5, 6, 7] },
           { orderable: false, targets: [7, 8] },
           {searchable: false, targets: [0, 2, 3, 4] }
           ],
               language: {
               lengthMenu: "Mostrar _MENU_ registros por página",
               zeroRecords: "Ningún usuario encontrado",
               info: "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
               infoEmpty: "Ningún usuario encontrado",
               infoFiltered: "(filtrados desde _MAX_ registros totales)",
               search: "Buscar",
               loadingRecords: "Cargando ..",
               paginate: {
                   firts: "Primero",
                   last: "último",
                   next: "Siguiente",
                   previous: "Anterior"
               }
           }
       });
       </script>
       </table>
{% endblock %}